In [2]:
import pandas as pd
import numpy as np

In [3]:
cd C:\\Projekte\\G2Cal\\calG2LeastSqr1

C:\Projekte\G2Cal\calG2LeastSqr1

In [4]:
names = ['$\sigma_1$', '$\sigma_2$', '$\kappa_1$', '$\kappa_2$', '$\\rho$']+ [str(i)+'x'+str(j)+'-'+m for i in [1,2,5] for j in [1,2,5,8] for m in ['ITM','ATM','OTM']]

In [5]:
df = pd.read_csv('G2a.csv',names=names)

In [6]:
df.describe()

,$\sigma_1$,$\sigma_2$,$\kappa_1$,$\kappa_2$,$\rho$,1x1-ITM,1x1-ATM,1x1-OTM,1x2-ITM,1x2-ATM,...,5x1-OTM,5x2-ITM,5x2-ATM,5x2-OTM,5x5-ITM,5x5-ATM,5x5-OTM,5x8-ITM,5x8-ATM,5x8-OTM
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,...,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,0.010301,0.010324,0.996082,1.003014,-0.501707,0.399502,0.394397,0.386149,0.335639,0.326872,...,0.327629,0.284152,0.279415,0.272704,0.203699,0.201468,0.193199,0.163218,0.164740,0.155137
std,0.005909,0.005877,0.577727,0.577028,0.288403,0.257978,0.247917,0.238720,0.242054,0.234497,...,0.247332,0.243745,0.239212,0.234862,0.222593,0.217530,0.215017,0.208813,0.202726,0.202388
min,0.000100,0.000100,0.000108,0.000190,-0.999974,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.005205,0.005246,0.495631,0.503767,-0.753141,0.210368,0.212503,0.210499,0.155815,0.151300,...,0.146688,0.105848,0.104984,0.103202,0.056029,0.053934,0.051898,0.000000,0.036697,0.000000
50%,0.010291,0.010359,0.992766,1.006819,-0.503073,0.375464,0.362911,0.349810,0.281175,0.269090,...,0.282303,0.218623,0.210527,0.203178,0.120630,0.115608,0.111013,0.083829,0.080086,0.076739
75%,0.015434,0.015431,1.497440,1.504284,-0.252226,0.579225,0.561757,0.541419,0.482196,0.464108,...,0.476862,0.416030,0.403123,0.391251,0.282753,0.272237,0.263321,0.214586,0.207024,0.199918
max,0.020500,0.020500,1.999924,1.999762,-0.000001,0.999980,0.999905,0.999933,0.999816,0.999622,...,0.999950,0.999967,0.999960,0.999957,0.999847,0.999833,0.999457,0.999921,0.999780,0.999949

In [15]:
df[df[names[5:]].sum(axis=1)==0][names[:5]].describe()

       $\sigma_1$  $\sigma_2$  $\kappa_1$  $\kappa_2$      $\rho$
count  207.000000  207.000000  207.000000  207.000000  207.000000
mean     0.014862    0.014168    0.535139    0.599833   -0.433443
std      0.006235    0.006528    0.659778    0.685085    0.285882
min      0.000185    0.000349    0.000692    0.000438   -0.998830
25%      0.011052    0.008632    0.014665    0.014538   -0.674935
50%      0.018120    0.017439    0.043899    0.177665   -0.380145
75%      0.019428    0.019322    1.075661    1.147403   -0.196136
max      0.020439    0.020440    1.993449    1.992553   -0.002321

In [5]:
df[df[names[5:]].sum(axis=1)!=0][names[:5]].describe()

         $\sigma_1$    $\sigma_2$    $\kappa_1$    $\kappa_2$        $\rho$
count  49793.000000  49793.000000  49793.000000  49793.000000  49793.000000
mean       0.010283      0.010308      0.997998      1.004691     -0.501990
std        0.005901      0.005869      0.576600      0.575956      0.288383
min        0.000100      0.000100      0.000108      0.000190     -0.999974
25%        0.005191      0.005239      0.498069      0.505946     -0.753288
50%        0.010269      0.010343      0.994767      1.008345     -0.503527
75%        0.015395      0.015406      1.498125      1.505340     -0.252460
max        0.020500      0.020500      1.999924      1.999762     -0.000001

In [6]:
sorted([(len(df[df[name]==0]),name) for j,name in enumerate(names[5:])])[::-1]

[(13971, '5x8-ITM'),
 (12977, '5x8-OTM'),
 (11648, '2x8-ITM'),
 (10999, '1x8-ITM'),
 (10738, '2x8-OTM'),
 (10408, '1x8-OTM'),
 (9506, '2x1-ITM'),
 (9309, '5x5-ITM'),
 (8696, '5x1-ITM'),
 (8237, '5x5-OTM'),
 (7825, '2x1-ATM'),
 (7343, '2x2-ITM'),
 (7282, '5x2-ITM'),
 (7194, '5x1-ATM'),
 (7070, '2x5-ITM'),
 (6804, '2x1-OTM'),
 (6635, '5x1-OTM'),
 (6033, '2x5-OTM'),
 (5725, '5x2-OTM'),
 (5675, '2x2-ATM'),
 (5451, '1x5-ITM'),
 (5439, '5x2-ATM'),
 (5328, '1x1-ITM'),
 (5270, '2x2-OTM'),
 (4646, '1x5-OTM'),
 (4164, '1x2-ITM'),
 (3740, '5x5-ATM'),
 (3694, '1x1-ATM'),
 (3036, '5x8-ATM'),
 (2958, '1x1-OTM'),
 (2613, '1x2-ATM'),
 (2554, '1x2-OTM'),
 (2536, '2x5-ATM'),
 (1676, '2x8-ATM'),
 (1057, '1x5-ATM'),
 (557, '1x8-ATM')]

In [7]:
[(j+5+1,len(df[df[names[5:j+5+1]].sum(axis=1)==0])) for j,name in enumerate(names[5:])][:10]

[(6, 5328),
 (7, 3694),
 (8, 2652),
 (9, 2582),
 (10, 2311),
 (11, 1819),
 (12, 1257),
 (13, 955),
 (14, 645),
 (15, 542)]

In [8]:
df[df[names[5:]].sum(axis=1)==0][names[:5]].describe()

       $\sigma_1$  $\sigma_2$  $\kappa_1$  $\kappa_2$      $\rho$
count  207.000000  207.000000  207.000000  207.000000  207.000000
mean     0.014862    0.014168    0.535139    0.599833   -0.433443
std      0.006235    0.006528    0.659778    0.685085    0.285882
min      0.000185    0.000349    0.000692    0.000438   -0.998830
25%      0.011052    0.008632    0.014665    0.014538   -0.674935
50%      0.018120    0.017439    0.043899    0.177665   -0.380145
75%      0.019428    0.019322    1.075661    1.147403   -0.196136
max      0.020439    0.020440    1.993449    1.992553   -0.002321

In [17]:
df[(df[names[5]]==0) | (df[names[6]]==0) | (df[names[7]]==0) 
   | (df[names[8]]==0)| (df[names[9]]==0) | (df[names[10]]==0)
   | (df[names[11]]==0)| (df[names[12]]==0) | (df[names[13]]==0)
  ][names[:5]].describe()

        $\sigma_1$   $\sigma_2$   $\kappa_1$   $\kappa_2$       $\rho$
count  9138.000000  9138.000000  9138.000000  9138.000000  9138.000000
mean      0.009936     0.009966     0.961018     0.956659    -0.501448
std       0.006745     0.006721     0.655827     0.655478     0.304543
min       0.000101     0.000102     0.000267     0.000299    -0.999714
25%       0.003551     0.003604     0.295166     0.290679    -0.784095
50%       0.009141     0.009160     0.995567     0.999376    -0.492945
75%       0.016647     0.016613     1.575852     1.572714    -0.230239
max       0.020498     0.020500     1.999924     1.999347    -0.000054

In [15]:
df[(df[names[5]]!=0) & (df[names[6]]!=0) & (df[names[7]]!=0) 
   & (df[names[8]]!=0)& (df[names[9]]!=0) & (df[names[10]]!=0)
   & (df[names[11]]!=0)& (df[names[12]]!=0) & (df[names[13]]!=0) & (df[names[15]]!=0)
  ][names[:5]].describe()

         $\sigma_1$    $\sigma_2$    $\kappa_1$    $\kappa_2$        $\rho$
count  40862.000000  40862.000000  40862.000000  40862.000000  40862.000000
mean       0.010383      0.010404      1.003923      1.013381     -0.501764
std        0.005703      0.005668      0.558477      0.557459      0.284672
min        0.000100      0.000100      0.000108      0.000190     -0.999974
25%        0.005610      0.005635      0.535580      0.546621     -0.747933
50%        0.010432      0.010502      0.992484      1.007823     -0.504892
75%        0.015179      0.015165      1.477622      1.488615     -0.257596
max        0.020500      0.020499      1.999887      1.999762     -0.000001

In [17]:
df[(df[names[5]]!=0) & (df[names[6]]!=0) & (df[names[7]]!=0) 
   & (df[names[8]]!=0)& (df[names[9]]!=0) & (df[names[10]]!=0)
   & (df[names[11]]!=0)& (df[names[12]]!=0) & (df[names[13]]!=0) & (df[names[15]]!=0)
  ].to_pickle('G2.pkl')

In [24]:
yy =df[names[5:]].to_numpy()

In [39]:
yyy=yy[1].reshape(3,12)

In [40]:
nnn= np.array(names[5:]).reshape(3,12)

In [49]:
nnn[0]

array(['1x1-ITM', '1x1-ATM', '1x1-OTM', '1x2-ITM', '1x2-ATM', '1x2-OTM',
       '1x5-ITM', '1x5-ATM', '1x5-OTM', '1x8-ITM', '1x8-ATM', '1x8-OTM'],
      dtype='<U7')

In [ ]:
yyy[0].reshape

In [58]:
yyy[0].reshape(4,-1)

array([[0.56781695, 0.54152839, 0.48698062],
       [0.39559216, 0.36886876, 0.33984791],
       [0.16862784, 0.15799377, 0.14567358],
       [0.09869317, 0.09179895, 0.08599776]])

In [18]:
from mpl_toolkits.mplot3d import Axes3D
from matplotlib import cm
from matplotlib.ticker import LinearLocator, FormatStrFormatter

In [ ]:
fig = plt.figure(figsize=(15,15))
ax = fig.gca(projection='3d')

X, Y = np.meshgrid(strikes, maturities)
Z =yy[0].reshape((len(maturities),len(strikes)))

"""                                                                                                                                                    
Scaling is done from here...                                                                                                                           
"""
x_scale=1
y_scale=1.5
z_scale=1.5

scale=np.diag([x_scale, y_scale, z_scale, 1.0])
scale=scale*(1.0/scale.max())
scale[3,3]=1.0

def short_proj():
    return np.dot(Axes3D.get_proj(ax), scale)

ax.get_proj=short_proj
"""                                                                                                                                                    
to here                                                                                                                                                
"""

ax.plot_surface(X, Y, Z, cmap=cm.PuBu,
                       linewidth=0, antialiased=False)

#ax.scatter(X, Y, Z, facecolors='none', edgecolors='r')
ax.scatter(X, Y, Z, s=100,color='white',edgecolors='black')
# Customize the z axis.
#ax.set_zlim(-1.01, 1.01)
ax.zaxis.set_major_locator(LinearLocator(10))
ax.zaxis.set_major_formatter(FormatStrFormatter('%.02f'))

ax.set_xlabel(r'Moneyness')
ax.set_ylabel(r'Maturities')

#ax.yaxis.label.set_color('white')
#ax.axis('tight')
ax.set_yticks(ax.get_yticks()[::2])

ax.xaxis.set_pane_color((1.0, 1.0, 1.0, 0.0))
ax.yaxis.set_pane_color((1.0, 1.0, 1.0, 0.0))
ax.zaxis.set_pane_color((1.0, 1.0, 1.0, 0.0))

ax.grid(False)

ax.w_zaxis.line.set_lw(0.)
ax.set_zticks([])

ax.w_yaxis.line.set_lw(0.)
ax.w_xaxis.line.set_lw(0.)


frameon=False
fig.patch.set_visible(False)
# Add a color bar which maps values to colors.
#fig.colorbar(surf, shrink=0.5, aspect=5)
fig.tight_layout() 
plt.savefig('VolatilitySurface.png', dpi=300,bbox_inches='tight')
plt.show()